<section>
  <div class="container no_side_padding">
    <div class="col-sm-12 no_side_padding text-center logo_container">
      <%= image_tag("logo.png", class: "img-responsive center_image") %>
    </div>

    <div class="col-sm-12 no_side_padding text-center font_size_20px padding_top_20px">
      <strong>Almost Done!</strong>
    </div>

    <div class="col-sm-12 padding_left_right_50px text-center grey_text bold padding_top_10px font_size_16px">
      The last step is to upload your documents, so we can confirm your identity and certifications.
    </div>

    <div class="col-sm-12 no_side_padding text-center camera_container padding_top_30px">
      <input class="inputfile" type="file" name="file" id="file" accept="image/*" capture="camera" />
      <label for="file">
        <i class="fa fa-camera violet_text" aria-hidden="true"></i>
      </label>
    </div>

    <div class="col-sm-12 padding_left_right_50px text-center grey_text bold padding_top_30px font_size_16px">
      First up: take a picture of your <span class="violet_text">government-issued ID</span> (Driver's License, passport, birth certificate)
    </div>
  </div>
</section>
